N8N_Workflows/Backup.json
{
  "createdAt": "2025-09-07T23:48:39.535Z",
  "updatedAt": "2025-09-07T23:58:18.491Z",
  "id": "xBH71s6i4viLgIdS",
  "name": "Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1744510d-7ed7-46d8-acd3-f975ab73f298",
              "name": "active",
              "type": "boolean",
              "value": "={{ $json.active }}"
            },
            {
              "id": "7e76f5dc-0c32-4b26-a289-975155b80112",
              "name": "url",
              "type": "string",
              "value": "=https://<n8n_host_name>/workflow/{{ $json.id }}"
            },
            {
              "id": "a7b069bf-8090-4dca-a432-f4fd7aa84e6f",
              "name": "errorWorkflow",
              "type": "boolean",
              "value": "={{ !!$json.settings?.errorWorkflow }}"
            },
            {
              "id": "0bff7a9b-0860-4552-b0f6-5fc279fc75d6",
              "name": "workflow-name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "3065ee2f-d1bb-42b7-b341-7bb38b0f6720",
              "name": "updatedAt",
              "type": "string",
              "value": "={{ $json.updatedAt }}"
            },
            {
              "id": "ea9d39e4-50ca-4c79-b6ab-8b22cafd0257",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.createdAt }}"
            },
            {
              "id": "265d66cd-1796-40eb-ae5b-dca8d1a91871",
              "name": "envId",
              "type": "string",
              "value": "=internal-{{ $json.id }}"
            },
            {
              "id": "6ffb9c13-82a7-4f40-b2e6-887c018b747c",
              "name": "workflow-definition",
              "type": "string",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            },
            {
              "id": "8b2a1098-125f-44b0-b8c0-99098e582156",
              "name": "workflow-export-filename",
              "type": "string",
              "value": "={{ $json.name.replace(/ /g, \"_\").replace(/-/g, \"_\") + \".json\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8aa3d6b0-4c67-463b-b784-f2ffa72b5eca",
      "name": "Set fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1968,
        720
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49092f3a-7f42-4067-b8ea-1073ef1d1bb8",
              "name": "input",
              "type": "object",
              "value": "={{ $('Set fields').item.json }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1ccc3e83-b62b-4960-91a1-c698eb416a68",
      "name": "Map fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2288,
        720
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "<replace_me>",
          "cachedResultUrl": "https://www.notion.so/<replace_me>",
          "cachedResultName": "Workflow Sync"
        },
        "title": "={{ $('Map fields').item.json.input['workflow-name'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|title",
              "title": "={{ $('Map fields').item.json.input['workflow-name'] }}"
            },
            {
              "key": "URL (dev)|url",
              "urlValue": "={{ $('Map fields').item.json.input.url }}"
            },
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.active }}"
            },
            {
              "key": "Workflow created at|date",
              "date": "={{ $('Map fields').item.json.input.createdAt }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Map fields').item.json.input.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.errorWorkflow }}"
            },
            {
              "key": "Record last update|date",
              "date": "={{ $now }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "envId|rich_text",
              "textContent": "={{ $('Map fields').item.json.input.envId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c345c1c6-a1cd-4143-be8c-5822fcf9b072",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        3120,
        704
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Map fields').item.json.results[0].id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.active }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Set fields').item.json.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.errorWorkflow }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f8be9dd-9e7b-4abc-a3d5-937911c4bf0e",
      "name": "Update in Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        3120,
        896
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<yourchannelID>",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=Pushed new workflow to Notion: {{ $('Map fields').item.json.input['workflow-name'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "0151ee2b-0110-4d74-a906-a33c9190886e",
      "name": "Notify internal-infra of push",
      "type": "n8n-nodes-base.slack",
      "position": [
        3328,
        704
      ],
      "webhookId": "45139061-cdfe-4f2c-9767-9872d5453770",
      "typeVersion": 2.3,
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<yourchannelID>",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=Updated workflow in Notion: {{ $('Map fields').item.json.input['workflow-name'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "3645f776-65ee-4e36-899e-351de8e14f71",
      "name": "Notify internal-infra of update",
      "type": "n8n-nodes-base.slack",
      "position": [
        3328,
        896
      ],
      "webhookId": "11b4a08c-1893-43ac-94ae-6950909a16d8",
      "typeVersion": 2.3,
      "disabled": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<yourchannelID>",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=WARNING: Error workflow has NOT been setup for: <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> (No backup will take place until err-workflow is configured)",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "id": "d10163ea-e55d-41cb-ab5c-7d9486b3bbbb",
      "name": "Notify on workflow setup error",
      "type": "n8n-nodes-base.slack",
      "position": [
        2224,
        1264
      ],
      "webhookId": "08adaa3e-2149-4189-b815-b36b9e72494e",
      "typeVersion": 2.3,
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Concisely tell me what this N8N plugin does in 1-2 lines, then describe how it does it in no more than a paragraph, but only if that detail was already covered by the first 1-2 lines - we don't want to repeat ourselves.\n<n8nplugin>\n{{ $json.input['workflow-definition'] }}\n</n8nplugin>"
            }
          ]
        },
        "options": {}
      },
      "id": "fa053fbc-d89f-4c23-9f74-4f08b093f1d6",
      "name": "Summarize what the Workflow does",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2528,
        736
      ],
      "typeVersion": 1.8,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Extract key fields",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "id": "d211e5e0-528c-45c2-8f0e-4054a6d3a9ec",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate documentation in Notion\n",
        "height": 440,
        "width": 1080,
        "color": 5
      },
      "id": "06dc098d-6403-418e-8f93-d33de93203cb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "cabobadilla",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup-n8n",
          "mode": "list",
          "cachedResultName": "backup-n8n",
          "cachedResultUrl": "https://github.com/cabobadilla/backup-n8n"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "=updated by N8N #{{ $execution.id }}"
      },
      "id": "cb4670d0-b768-4a10-8296-dc7cc2ba4865",
      "name": "Upload changes to repo",
      "type": "n8n-nodes-base.github",
      "position": [
        2544,
        1232
      ],
      "typeVersion": 1,
      "webhookId": "de8d2364-aa66-4455-8610-249ba9f117a9",
      "credentials": {
        "githubApi": {
          "id": "hpO4ON0ydvIuaZZ7",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "cabobadilla",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup-n8n",
          "mode": "list",
          "cachedResultName": "backup-n8n",
          "cachedResultUrl": "https://github.com/cabobadilla/backup-n8n"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "created by N8N"
      },
      "id": "aa0560a6-f987-4241-8a1c-afdc7ea42064",
      "name": "Create new file in repo",
      "type": "n8n-nodes-base.github",
      "position": [
        2880,
        1248
      ],
      "typeVersion": 1,
      "webhookId": "b6e4112b-8d76-4a83-9f74-f0bfcdf3bd4c",
      "credentials": {
        "githubApi": {
          "id": "hpO4ON0ydvIuaZZ7",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "<yourchannelID>",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=WARNING: Failed to upload new N8N workflow <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> to repo",
        "otherOptions": {
          "includeLinkToWorkflow": true,
          "mrkdwn": true
        }
      },
      "id": "13eaf850-f860-487d-879a-0ed9de7f5bc9",
      "name": "Notify on create file in repo fail",
      "type": "n8n-nodes-base.slack",
      "position": [
        3328,
        1232
      ],
      "webhookId": "08adaa3e-2149-4189-b815-b36b9e72494e",
      "typeVersion": 2.3,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Check workflow setup OK ",
        "height": 360,
        "width": 480,
        "color": 3
      },
      "id": "71f0db11-7dd8-46b3-b2f0-2fd5a4e47078",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Upload / backup workflow to GitHub repo",
        "height": 360,
        "width": 1080,
        "color": 5
      },
      "id": "d8fad376-681a-43be-9102-4a0cf06c6fbe",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Check weekly for changes on active internal-infra workflows",
        "height": 300,
        "width": 660
      },
      "id": "e7b517ad-d124-4255-be76-8df53d5d4649",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "88337d36-8cf6-4cd5-bec1-5123cf612934",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Map fields').item.json.results }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1909a0ff-231c-4ae8-b2d6-9d8edfb01ce5",
      "name": "Is this a new workflow (to Notion) ?",
      "type": "n8n-nodes-base.if",
      "position": [
        2880,
        736
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "e8f1ddf3-3f10-4df8-9951-a2eb9e7dddce",
      "name": "Every Monday at 1am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1280,
        736
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5f0685ee-2ffa-4cf8-8d65-32addb4bb703",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate()-7)).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26e05617-a400-43be-8fba-9e33087a058c",
      "name": "Check if updated in last 7 days",
      "type": "n8n-nodes-base.if",
      "position": [
        1728,
        736
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "id": "d963a000-67af-44a2-a0c3-b29da8cc7361",
      "name": "Get active workflows with internal-infra tag",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1504,
        736
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "2k5dROl18qj47hKQ",
          "name": "n8n backup"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "c53617b5-a217-4111-a229-82d93fb0bec6",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.input.errorWorkflow }}",
              "rightValue": ""
            },
            {
              "id": "3ea0c94e-e192-4e94-867f-788feda52d61",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.input['workflow-name'] }}",
              "rightValue": "_infra: Get a Slack alert when a workflow went wrong"
            }
          ]
        },
        "options": {}
      },
      "id": "f228e998-f5a1-4121-95a3-2d6c21689cc7",
      "name": "Check that error workflow has been configured",
      "type": "n8n-nodes-base.if",
      "position": [
        1984,
        1152
      ],
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "Map fields": {
      "main": [
        [
          {
            "node": "Check that error workflow has been configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Notify internal-infra of push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Notion": {
      "main": [
        [
          {
            "node": "Notify internal-infra of update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Monday at 1am": {
      "main": [
        [
          {
            "node": "Get active workflows with internal-infra tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload changes to repo": {
      "main": [
        [],
        [
          {
            "node": "Create new file in repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file in repo": {
      "main": [
        [],
        []
      ]
    },
    "Check if updated in last 7 days": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize what the Workflow does": {
      "main": [
        [
          {
            "node": "Is this a new workflow (to Notion) ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this a new workflow (to Notion) ?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active workflows with internal-infra tag": {
      "main": [
        [
          {
            "node": "Check if updated in last 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check that error workflow has been configured": {
      "main": [
        [],
        [
          {
            "node": "Notify on workflow setup error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload changes to repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3b6c5f7b-d536-4ca2-b841-dd5715d1431b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-07T23:48:39.535Z",
      "updatedAt": "2025-09-07T23:48:39.535Z",
      "role": "workflow:owner",
      "workflowId": "xBH71s6i4viLgIdS",
      "projectId": "EMKC3HvbWexR6hSv"
    }
  ],
  "tags": []
}