N8N_Workflows/Image_to_PDF.json
{
  "createdAt": "2025-09-07T02:36:30.535Z",
  "updatedAt": "2025-09-07T02:36:30.535Z",
  "id": "lDZINRgGTrIwp0g0",
  "name": "Image to PDF",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "56620ecf-37f8-44d4-ae21-09e1841991b7",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        304,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "createdTime"
            }
          ]
        },
        "options": {}
      },
      "id": "3af75250-587c-4382-acbb-05909db156ba",
      "name": "Sort by Created Date",
      "type": "n8n-nodes-base.sort",
      "position": [
        1808,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80e9c8e4-389d-489e-8e21-ccbaf250cd3b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2032,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Sort by Created Date').item.json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "83a40f14-b677-4d96-b292-5abe17c8948d",
      "name": "Update Image Permissions",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2464,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('CopyPdfTemplate').item.json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "2d00dc30-5563-4a4c-9dbb-d8e2598e0e56",
      "name": "Convert slides to PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2688,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "5e66dfe0-0007-419c-9bf8-c44c49a92ed7",
      "name": "Limit: 1Page",
      "type": "n8n-nodes-base.limit",
      "position": [
        2240,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "12999f01-4775-46ab-bc60-1c1e68a3c4d2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "image/png"
            }
          ]
        },
        "options": {}
      },
      "id": "e13468a3-4541-4fcb-9516-a99246e17fa6",
      "name": "Filter: Only Images",
      "type": "n8n-nodes-base.filter",
      "position": [
        1584,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "={{ $('Set Pdf File Name').item.json.presentation_title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Get Folder Id w Presentation').item.json.parents[0] }}"
        },
        "options": {}
      },
      "id": "d5d36e08-a476-4dde-94a0-2ce35afa1472",
      "name": "Upload Final PDF File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2912,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## 📚 Create a PDF from Google Drive Images\n\nThis workflow takes all images from a Google Drive folder you specify, sorts them by creation date, and compiles them into a single PDF using a Google Slides template.\n\n**Key Things to Know Before You Start:**\n\n  **Set Your File Name:**\n- Go to the **'Set Pdf File Name'** node \n- Update the `presentation_title` value with your desired PDF name.\n\n🔑 **Connect Google Accounts:**\n- Authenticate your Google Drive & Google Slides accounts in all relevant Google nodes and HTTP nodes.\n\n📏 **Use a Google Slides Template for Custom Page Size:**\n- Google Slides defaults to a 16:9 aspect ratio. If you need specific PDF dimensions (e.g., A4, US Letter, square), **first create a Google Slides file with your desired page size.**\n- Then, select this custom Google Slides file in the **'CopyPdfTemplate'** node (under 'File').\n\n🖼️ **Image & Folder Setup:**\n- In the **'CopyPdfTemplate'** node, also select the Google Drive **Folder** where your source images are located. The copied presentation and final PDF will also be created here.\n- The workflow filters for `.png` images by default. To use other types (like JPG), update the **'Filter: Only Images'** node.\n\n⚠️ **Image Size & Workflow Limits:**\n- Google Slides may have limitations on individual image size and the overall PDF file size when exporting.\n- This workflow works well for smaller presentations (10–20 pages). Larger files may run into errors or performance issues during export.\n\n💰 **Cost:** Free to use (relies on standard Google API calls, which are generally within free tier limits for typical usage).",
        "height": 1020,
        "width": 400,
        "color": 4
      },
      "id": "7f1e3162-a32c-4fe0-8e8c-94529eb96d43",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b994aa5e-1580-43f6-90b0-f0ea8efd9614",
              "name": "presentation_title",
              "type": "string",
              "value": "[Your PDF Name Here]"
            }
          ]
        },
        "options": {}
      },
      "id": "12219059-85e7-4335-ba18-e528b0668828",
      "name": "Set Pdf File Name",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        368
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $('Get Created Presentation').item.json.presentationId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"deleteObject\": {\n        \"objectId\": \"{{ $('Get Created Presentation').item.json.slides[0].objectId }}\" \n      } \n    } \n  ]\n}",
        "options": {}
      },
      "id": "8f7bea11-a0df-4160-858b-45cb6386b223",
      "name": "Delete First Empty Slide",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2464,
        160
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1_Mfgb7lUD8tXRg3cXeIQXjQ9vgCG-TzwOoWVok_ROQ8",
          "cachedResultUrl": "https://docs.google.com/presentation/d/1_Mfgb7lUD8tXRg3cXeIQXjQ9vgCG-TzwOoWVok_ROQ8/edit?usp=drivesdk",
          "cachedResultName": "Book_Template"
        },
        "name": "={{ $json.presentation_title }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultUrl": "",
          "cachedResultName": ""
        },
        "options": {}
      },
      "id": "68559e73-0d7c-4e67-bdb8-6b907f8db589",
      "name": "CopyPdfTemplate",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        752,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "get",
        "presentationId": "={{ $('CopyPdfTemplate').item.json.id }}"
      },
      "id": "0653f91a-71d4-4f89-b1b5-72f62cc8bb42",
      "name": "Get Created Presentation",
      "type": "n8n-nodes-base.googleSlides",
      "position": [
        960,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.presentationId }}?fields=parents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "ec4b5a97-ac82-4f2e-8a09-c388534e6830",
      "name": "Get Folder Id w Presentation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.parents[0] }}"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "18c89ec4-66a9-45d9-8d86-a4912a466622",
      "name": "Get All Files From the Folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1360,
        368
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $('CopyPdfTemplate').item.json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"createSlide\": {\n        \"slideLayoutReference\": {\n          \"predefinedLayout\": \"BLANK\"\n          \n        } \n      } \n    } \n  ]\n}",
        "options": {}
      },
      "id": "eef2d515-331d-43cd-95bb-a0bdce68c19b",
      "name": "Create An Empty Slide",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $('CopyPdfTemplate').item.json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"createImage\": {\n        \"url\": \"{{ $('Sort by Created Date').item.json.webContentLink }}\",\n        \"elementProperties\": {\n           \"size\": {\n            \"width\": {\n              \"unit\": \"{{ $('Get Created Presentation').item.json.pageSize.width.unit }}\",\n              \"magnitude\": {{ $('Get Created Presentation').item.json.pageSize.width.magnitude }}\n            },\n            \"height\": {\n              \"unit\": \"{{ $('Get Created Presentation').item.json.pageSize.height.unit }}\",\n              \"magnitude\": {{ $('Get Created Presentation').item.json.pageSize.height.magnitude }}\n            }\n          },\n  \"transform\": {\n    \"scaleX\":  1,\n    \"scaleY\":  1,\n    \"translateX\": 0,\n    \"translateY\": 0,\n    \"unit\": \"PT\"\n  },\n          \"pageObjectId\": \"{{ $('Create An Empty Slide').item.json.replies[0].createSlide.objectId }}\" \n        } \n      } \n    } \n  ]\n}",
        "options": {}
      },
      "id": "65b95ab4-d411-4b53-9994-e885c8bbbd20",
      "name": "Add Image To The Slide",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2688,
        448
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Configure Template & Image Folder\n\n⚙️ In the **'CopyPdfTemplate'** node configure:\n\n1.  **File -> From list:** Select your Google Slides template file. This will be the base for your PDF. If you want book orientation, it should be specified in the template in File-> Page Setup\n\n2.  **Parent Folder -> From list:** Choose the Google Drive folder where your source images are located.\n\n➡️ **Important:** The workflow will create the final PDF in the *same folder* where you have your images",
        "height": 620,
        "width": 440,
        "color": 6
      },
      "id": "94e86ffb-4bf7-4ccf-9d3e-25ef8362b239",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Image Filter Information\n\n🖼️ **Image Format Note** \n\nThis workflow is preset to find and process `.png` images from your Google Drive folder (using MIME type `image/png`).\n\nIf you're using other image formats (e.g., JPG, GIF), you'll need to update the **'Filter: Only Images'** node.\n\nSpecifically, change the filter condition from `image/png` to the correct MIME type for your image files (e.g., `image/jpeg` for JPGs).",
        "height": 600,
        "width": 420,
        "color": 6
      },
      "id": "d60935de-c9f6-478d-a953-bdc1e2c42858",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How the Image-to-Slide Process Works\n\n🔄 **How Images Are Added to Slides** \n1.  The workflow fetches all images (that pass the filter) from your specified Google Drive folder.\n2.  It sorts these images by their creation date.\n3.  For each image, the workflow:\n    a. Creates a new blank slide in your Google Slides presentation.\n    b. Updates the image's permissions in Google Drive to be publicly readable (this is a temporary step, necessary for the Google Slides API to insert the image using its URL).\n    c. Adds the image to the new slide, fitting it to the slide's dimensions.\n\n**Final Touch:** After all images are added, the *very first slide* of the presentation (which is a blank page from your template) is deleted.",
        "height": 340,
        "width": 840,
        "color": 6
      },
      "id": "47a1b396-ff22-46a5-b38d-8bdfaac6d0eb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        672
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Limit: 1Page": {
      "main": [
        [
          {
            "node": "Delete First Empty Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CopyPdfTemplate": {
      "main": [
        [
          {
            "node": "Get Created Presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit: 1Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create An Empty Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pdf File Name": {
      "main": [
        [
          {
            "node": "CopyPdfTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Only Images": {
      "main": [
        [
          {
            "node": "Sort by Created Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Created Date": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert slides to PDF": {
      "main": [
        [
          {
            "node": "Upload Final PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create An Empty Slide": {
      "main": [
        [
          {
            "node": "Update Image Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image To The Slide": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete First Empty Slide": {
      "main": [
        [
          {
            "node": "Convert slides to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Presentation": {
      "main": [
        [
          {
            "node": "Get Folder Id w Presentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Image Permissions": {
      "main": [
        [
          {
            "node": "Add Image To The Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder Id w Presentation": {
      "main": [
        [
          {
            "node": "Get All Files From the Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Files From the Folder": {
      "main": [
        [
          {
            "node": "Filter: Only Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Pdf File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eef3eb29-1ad1-4f16-a4a2-2807fcfd2e7a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-07T02:36:30.535Z",
      "updatedAt": "2025-09-07T02:36:30.535Z",
      "role": "workflow:owner",
      "workflowId": "lDZINRgGTrIwp0g0",
      "projectId": "EMKC3HvbWexR6hSv"
    }
  ],
  "tags": []
}