N8N_Workflows/Pedidos.json
{
  "createdAt": "2025-09-06T22:02:51.949Z",
  "updatedAt": "2025-09-06T22:02:59.612Z",
  "id": "nResR6llBtCwom4b",
  "name": "Pedidos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fdf7bf7d-2d5a-4283-824f-928e33c0fe20",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -64
      ],
      "id": "02239185-7677-4490-9576-f5701f5d219b",
      "name": "Webhook",
      "webhookId": "fdf7bf7d-2d5a-4283-824f-928e33c0fe20"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "deba5316-dfb0-4dc1-a200-35e1464e6cad",
              "name": "email",
              "value": "={{ $json.body.contact_email }}",
              "type": "string"
            },
            {
              "id": "68d8ff6b-f603-4fbc-8a62-b800e35f3aad",
              "name": "orden",
              "value": "={{ $json.body.order_number }}",
              "type": "number"
            },
            {
              "id": "563d55b1-8e84-4709-90ae-6da57c031986",
              "name": "name",
              "value": "={{ $json.body.customer.first_name }} {{ $json.body.customer.last_name }}",
              "type": "string"
            },
            {
              "id": "516df8ff-be80-4114-a1de-f2758987537c",
              "name": "precio",
              "value": "={{ $json.body.total_line_items_price }}",
              "type": "string"
            },
            {
              "id": "2e2e575e-af79-432e-b996-bfeb11d94ef2",
              "name": "descuento",
              "value": "={{ $json.body.current_total_discounts }}",
              "type": "string"
            },
            {
              "id": "2ed1a509-dca3-49f9-bac1-3b3cb5fa1aef",
              "name": "total",
              "value": "={{ $json.body.current_subtotal_price }}",
              "type": "string"
            },
            {
              "id": "b8b616bb-9a05-42d6-a37b-7135493c8ecd",
              "name": "discount_code",
              "value": "={{ $json.body.discount_codes[0].code }}",
              "type": "string"
            },
            {
              "id": "b1b9e8cc-e7b8-4073-b07f-321a2380b22a",
              "name": "estado",
              "value": "={{ $json.body.confirmed }}",
              "type": "boolean"
            },
            {
              "id": "391ce139-c4b6-46fb-b0ce-f251ab594c63",
              "name": "fechapedido",
              "value": "={{ $json.body.processed_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -64
      ],
      "id": "06794240-9372-4bda-85df-c8cda6a0b3a0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "pedidos",
          "mode": "list",
          "cachedResultName": "pedidos"
        },
        "columnToMatchOn": "orden",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -32,
        128
      ],
      "id": "aa030c17-8c76-484f-955a-95e52372efce",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "oCO7MmY0ac1eSlL8",
          "name": "SHINKANSEN"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1T7pXdCCMdTHrqXnn8d_MQ2snn1kT3AtzVgZ-phzwcvQ",
          "mode": "list",
          "cachedResultName": "Pedidos_Shopify",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7pXdCCMdTHrqXnn8d_MQ2snn1kT3AtzVgZ-phzwcvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7pXdCCMdTHrqXnn8d_MQ2snn1kT3AtzVgZ-phzwcvQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orden": "={{ $json.orden }}",
            "email": "={{ $json.email }}",
            "name": "={{ $json.name }}",
            "precio": "={{ $json.precio }}",
            "descuento": "={{ $json.descuento }}",
            "discount_code": "={{ $json.discount_code }}",
            "total": "={{ $json.total }}",
            "estado": "={{ $json.estado }}",
            "fechapedido": "={{ $json.fechapedido }}"
          },
          "matchingColumns": [
            "orden"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orden",
              "displayName": "orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descuento",
              "displayName": "descuento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "discount_code",
              "displayName": "discount_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fechapedido",
              "displayName": "fechapedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -96
      ],
      "id": "fd22be67-ff70-46c3-b7f7-1e07979b1813",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lW6DvnVaBFOK8teT",
          "name": "GoogleSheet_cbobadilla"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pedidos",
        "height": 544,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -144
      ],
      "id": "1160cbd5-05a1-42b0-8bf5-d93240934738",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1T7pXdCCMdTHrqXnn8d_MQ2snn1kT3AtzVgZ-phzwcvQ",
      "sheetId": 0,
      "lastRevision": 60,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1T7pXdCCMdTHrqXnn8d_MQ2snn1kT3AtzVgZ-phzwcvQ&revision=60&exportFormat=xlsx"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dac5f9d4-4363-4f6b-a8b6-f866e1b5a929",
  "triggerCount": 3,
  "shared": [
    {
      "createdAt": "2025-09-06T22:02:51.949Z",
      "updatedAt": "2025-09-06T22:02:51.949Z",
      "role": "workflow:owner",
      "workflowId": "nResR6llBtCwom4b",
      "projectId": "EMKC3HvbWexR6hSv"
    }
  ],
  "tags": []
}